<form>
    <div class="topnav" id="myTopnav">
     <div class="form-inline">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button type="button">Search</button>
        <button type="button" (click)="logout()">Logout</button>
      </div>
    </div>
    <div class="products" *ngFor="let a of productData">
      <!-- <div class="products" *ngFor="let a of productData" | searchPipe: searchText> -->
      <div class="card" style="width: 14rem; height:26rem ; margin:10%; border: 3px solid rgb(66, 65, 65); font-size: 12px; border-radius: 6px;">
          <a routerLink='../productDetails/{{a.id}}'>
          <img src="{{a.image}}" class="card-img-top" style="height:200px; width:200px; padding: 5%;"></a>
          <div class="card-body">
            <p class="card-text"><b>{{a.title}}</b></p>
            <p class="card-text"><b>Price:</b> {{a.price}}$</p>
            <p class="card-text"><b>Category:</b> {{a.category}}</p>
            <!-- <p class="card-text"><b>Description:</b> {{a.description}}</p> -->
            <button type="button">Add to Cart</button>
          </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </form>
    
  